{% extends "base/base.html" %}
{% block title %}Login{% endblock title %}

{% block content %}

  <div class="car position-absolute top-50 start-50 translate-middle bg-white p-3 rounded-3" style="width: 18rem;">
    <div class="card-body">
      <h1 class="card-title mb-4">Login</h1>

      {% include "base/message.html" %}

      <form method="post" class="form-signin">
        {% csrf_token %}
        {% comment %} {{ form.as_p }} {% endcomment %}
        {% comment %} <input id="inputUsername" class="form-control my-3" placeholder="Username" required="" autofocus="" type="username">
        <input id="inputPassword" class="form-control my-3" placeholder="Password" required="" type="password"> {% endcomment %}

        {% if form.non_field_errors %}
          <ul class='form-errors'>
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}


        <input type="text" name="username" class="form-control my-3" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" aria-invalid="true" id="id_username" placeholder="username">
        <input type="password" name="password" class="form-control my-3" autocomplete="current-password" required="" aria-invalid="true" id="id_password" placeholder="Password">

        <button type="submit" class="btn btn-primary">Login</button>
        <input type="hidden" name="next" value="{{next}}"/>
      </form>
      <p class="m-auto px-3 py-2">Or</p>
      <a href="{% url 'polls:index'%}" class=""><button class="btn btn-primary">Continue as guest</button></a>
      <a href="{% url 'signup'%}" class=""><button class="btn btn-success">Register</button></a>
      
    </div>
  </div>
{% endblock content %}
