{% extends "base/base.html" %}

{% block title %}Polls{% endblock title %}

{% block content %}
    {% load static %}

            {% include "base/message.html" %}

            <div class="card text-start my-3 w-25">
                <div class="card-body">
                    {% if user.is_authenticated %}
                        <h4 class="card-title">Welcome back, {{user.username}}</h4>
                        <form action="{% url 'logout' %}" method='post'>
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Logout</button>
                        </form>   
                    {% else %}
                        <p class="card-title"> To vote on a polls please <a href="{% url 'login' %}">login</a>
                    {% endif %}
                </div>
            </div>        

        {% if latest_question_list %}
            {% for question in latest_question_list %}
                <div class="card my-3" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{question.question_text}}</h5>
                        {% if question.available %}
                        <div class="alert alert-success" role="alert">
                            Polls available  
                        </div>
                        {% else %}
                        <div class="alert alert-danger" role="alert">
                            Polls unavailable  
                        </div>
                        {% endif %}
                        <a href="{% url 'polls:detail' question.id %}" class="btn btn-primary">View</a>
                        <a href="{% url 'polls:results' question.id %}" class="btn btn-primary">Results</a>
                    </div>
                </div>
            {% endfor %} 
        {% else %}
            <p>No polls are available.</p>
        {% endif %}

{% endblock content %}