{% extends "base/base.html" %}

{% block title %}Polls{% endblock title %}

{% block content %}
    {% load static %}

        {% include "base/message.html" %}

        {% if latest_question_list %}
        <div class="container text-center my-3">
            <div class="row row-cols-4">
                {% for question in latest_question_list %}
                    <div class="col mt-5 mb-0">
                        <div class="card h-100 py-3 " style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title y-100">{{question.question_text}}</h5>
                                {% if question.available %}
                                    <div class="alert alert-success position-relative" role="alert">
                                        Polls available  
                                    </div>
                                {% else %}
                                    <div class="alert alert-danger position-relative" role="alert">
                                        Polls unavailable  
                                    </div>
                                {% endif %}
                                <a href="{% url 'polls:detail' question.id %}" class="btn btn-primary">View</a>
                                <a href="{% url 'polls:results' question.id %}" class="btn btn-primary">Results</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div> 
        {% else %}
            <p>No polls are available.</p>
        {% endif %}

{% endblock content %}