li a {
    color: black;
}

html {
    background: url("images/stone-wall.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

body {
    background-color: transparent !important; 
}

.messages
{
    color: red;
}